.openlike {
	position: relative;
	font-weight: bold;
}

.openlike p {
	margin-bottom: .5em !important;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

.openlike ul {
	position: relative;
	display: block;
	margin: 0 0 .5em 0 !important;
	padding: 0 !important;
	overflow: hidden;
	zoom: 1;
}

.openlike ul li {
	float: left;
	position: relative;
	display: block;
	list-style-type: none;
	height: 25px;
	margin: 0;
	background: none;
	padding: 0 5px 0 0;
	overflow: hidden;
	zoom: 1;
}

.openlike ul li a {
	background: transparent url(sprite.png) scroll no-repeat;
	display: block;
	height: 25px;
	width: 25px;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden;
	text-indent: -9999em;
}

.openlike ul li a.openlike-hunch { background-position: 0 0; }
.openlike ul li a.openlike-twitter { background-position: -25px 0; }
.openlike ul li a.openlike-google { background-position: -50px 0; }
.openlike ul li a.openlike-facebook { background-position: -75px 0; }
